input.ng-valid {
    border-color: green;
    border-width: 2px;
}

input.is-invalid {
    border-color: red;
    border-width: 2px;
}

.invalid-feedback {
    color: red
}

button:disabled {
    cursor: wait;
    opacity: 0.2;
}